body {
    background-color: #ededed;
}

.open-sans-title {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
   
}

.logo{

  color: inherit; /* Inherit text color */
  text-decoration: none; /* Remove underline */
  font-size: 2rem;
      color: #ba0909;
      font-weight: 700;


}
.book-mark{
  width: 2rem;
  height: 2rem;
}

.title {
    color: #ba0909;
    font-size: 7rem;
    
}
/* default book */

.outerBook {
  width: 180px;
  height: 279px;
  background-color: #708B75;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerBook {
  width: 155px;
  height: 255px;
  background-color: #708B75;
  border: 1px solid #fff;
}


